<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>INDEX</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1 class="text-center bg-success text-white">DASHBOARD</h1>

		<hr>

		<div th:if="${exception1 != null}">
			<div class="alert alert-info mt-2" th:text="${exception1}"></div>
		</div>


		<div th:if="${param.creditSuccess}">
			<div class="alert alert-info mt-2">Account credited</div>
		</div>

		<div th:if="${param.contactSuccess}">
			<div class="alert alert-info mt-2">New Contact Added</div>
		</div>

		<div th:if="${param.transactionSuccess}">
			<div class="alert alert-info mt-2">Transaction Success</div>
		</div>



		<div>
			<h2 th:text="${'Hello ' + logUser.getLastName()}">Bonjour</h2>
		</div>




		<!-- 		<table class="table table-bordered table-striped"> -->
		<!-- 			<tr> -->
		<!-- 				<th colspan="2">Your Contact</th> -->
		<!-- 				<th>Email</th> -->
		<!-- 			</tr> -->

		<!-- 			<tr th:each="contacts : ${logUser.getContact()}"> -->
		<!-- 				<td th:text="${contacts.getLastName()}">my contacts</td> -->
		<!-- 				<td th:text="${contacts.getFirstName()}">my contacts</td> -->
		<!-- 				<td th:text="${contacts.getEmail()}">my contacts</td> -->
		<!-- 			</tr> -->
		<!-- 		</table> -->

		<div>
			<h2 class="text-success text-center">Your transaction history</h2>
		</div>

		<div>
			<table class="table table-bordered table-striped">
				<tr>
					<th colspan="2">CONTACT</th>
					<th>AMOUNT</th>
					<th>DESCRIPTION</th>
				</tr>

				<tr th:each="operation : ${list}">
					<td th:text="${operation.getReceiver().getFirstName()}">my
						contacts</td>
					<td th:text="${operation.getReceiver().getLastName()}">my
						contacts</td>
					<td
						th:text="${#numbers.formatDecimal(operation.getAmount(),0,2, 'POINT')}">my
						contacts</td>
					<td th:text="${operation.getDescription()}">my contacts</td>
				</tr>
			</table>

			<div>
				<ul class="nav nav-pills">
					<li th:each="pageOfTransactions,status:${pages}"><a
						th:class="${status.index == currentPage ? 'btn btn-info ms-1' : 'btn btn-outline-info ms-1'}"
						th:text="${status.index}" th:href="@{/(page=${status.index})}"></a>
					</li>
				</ul>
			</div>

		</div>

		<div>
			<table class="table table-bordered table-striped">
				<tr>
					<th>AMOUNT</th>
				</tr>

				<tr th:each="credit : ${Creditlist}">
					<td
						th:text="${#numbers.formatDecimal(credit.getAmount(),0,2, 'POINT')}">
						CREDITS</td>
				</tr>
			</table>

			<div>
				<ul class="nav nav-pills">
					<li th:each="pageOfCredits,status:${Creditpages}"><a
						th:class="${status.index == CreditcurrentPage ? 'btn btn-info ms-1' : 'btn btn-outline-info ms-1'}"
						th:text="${status.index}" th:href="@{/(pageCredit=${status.index})}"></a>
					</li>
				</ul>
			</div>

		</div>


		<div></div>




		<hr>

		<h2 class="text-success text-center">Credit your account</h2>


		<div class="text-success"
			th:text="${'Your actual account: ' + #numbers.formatDecimal(logUser.getAccount(),0,2, 'POINT')  + ' €'}">
		</div>

		<!-- CREDITER SON COMPTE -->

		<form th:action="@{/creditAccount}" method="POST">

			<!-- GRACE A L'ATTRIBUT "NAME", ON peut faire le lien avec le paramètre de la méthode invoqué via l'URL ci dessus -->

			<input class="form-control" type="text" name="amount"
				placeholder="Amount">
			<div>
				<button type="submit" class="btn btn-success mt-2">Credit
					my account</button>
			</div>
		</form>

		<hr>

		<!-- TRANSACTION -->

		<h2 class="text-success text-center">Transaction</h2>

		<form th:action="@{/transaction}" method="POST">

			<input class="form-control" placeholder="Amount"
				name="transactionAmount" type="text"> <input
				class="form-control" placeholder="Description" name="description"
				type="text">

			<!-- 		<input class="form-control" placeholder="To" name="email" type="text"> -->

			<select class="form-select mb-2" name="email"
				aria-label="Default select example">
				<option value="0">Select Contact</option>
				<option class="" th:each="c : ${logUser.getContact()}"
					th:value="${c.getEmail()}" th:text="${c.getEmail()}"></option>

			</select>


			<div>
				<button type="submit" class="btn btn-success mt-2">Transaction</button>
			</div>
		</form>

		<hr>


		<!-- AJOUTER UN CONTACT-->

		<h2 class="text-success text-center">Add a contact</h2>

		<form th:action="@{/addContact}" method="POST">

			<input class="form-control" type="text" name="email"
				placeholder="Your contact's email">
			<div>
				<button type="submit" class="btn btn-success mt-2">Add a
					contact</button>
			</div>
		</form>

		<a href="/login" th:ref="@{/login}">Login Page</a>

	</div>



</body>
</html>